<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Введение в Java - разработку</title>
    <style>
        .types {
            color: gray;
            font-family: arial;
            background: beige;
        }
    </style>
</head>
<body>
<h1>Урок 1</h1>
<h2>Знакомство с языком</h2>
<div class="types">
    <p>Привет! В этом уроке мы начнем изучать язык java.</p>
    <p>
<a href="https://ru.wikipedia.org/wiki/Java">
    <img src="Java.png" alt="Java" width="200">
</a> - это один из самых популярных языков программирования!
</p>
</div>
</body>
</html>